<div class="container">
    <div class="blog-summary">
        <div class="blog-summary-title">
            Budgeting Basics
        </div>
        <div class="blog-summary-body">

        </div>
    </div>
</div>