<section id="pricing">
    <div class="pricing-container">
        <div class="card-container">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Monthly
                    </div>
                    <div class="card-text">
                        <div class="cost">
                            <span class="cost-currency">$</span>
                            <span class="cost-price">2.99</span>
                            <span class="cost-interval">/ month</span>
                        </div>

                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline signup">Start free trial</a>
                        <div class="pricing-footnotes">
                            <div>Free 60 day trial.</div>
                            <div>Subscription billed monthly. Cancel at any time.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card-container">
            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        Yearly
                    </div>
                    <div class="card-text">
                        <div class="cost">
                            <span class="cost-currency">$</span>
                            <span class="cost-price">31.99</span>
                            <span class="cost-interval">/ year</span>
                        </div>

                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline signup">Start free trial</a>
                        <div class="pricing-footnotes">
                            <div>Free 60 day trial.</div>
                            <div>Subscription billed yearly. Cancel at any time.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
