@import "colors.scss";

.feature-image > img {
    width: 100%;
    height: auto;
}

.feature:last-child {
    border-bottom: 0;
}

.feature {
    //border-bottom: 1px solid $separator-color;

    align-items: center;


    .feature-text {
        > h4 {
            font-weight: 800;
            color: $brand-dark-color;
        }
    }
}
