@import "colors.scss";

.feature-image > img {
    width: 100%;
    height: auto;
}

.feature:last-child {
    border-bottom: 0;
}

.feature {
    //border-bottom: 1px solid $separator-color;

    align-items: center;


    .feature-text {
        > h4 {
            font-weight: 800;
            color: $brand-dark-color;
        }
    }
}

.circle {
    background: radial-gradient(circle, transparent 50%, #A49BDC88 30%);
    border-radius: 100%;
    width: 1700px;
    height: 1700px;
    position: absolute;
    z-index: -10;
    top: -150px;
    left: 100px;
    //display: none;
} 
