@import "colors.scss";

footer {
    display: flex;
    flex-direction: row;
    background-color: $brand;
    margin-top: 1em;
    color: $font-light;
}

.footer-container {
    flex: 0 0 50%;
    justify-content: center;
    text-align: center;
    padding: 4em;
    color: $font-light;
}