@import "colors.scss";

#jumbotron {
    font-weight: 800;
    background: rgb(95,168,211);
    background: linear-gradient(191deg, rgba(95,168,211,1) 0%, rgba(105,188,237,1) 100%);
    color: $font-light;
    min-height: 4rem;
    text-align: center;
    padding-top: 8em;
    padding-bottom: 8em;
}

.jumbotron__content {
    margin-top: 60px;
}

.jumbotron__content > h1 {
    font-size: 3rem;
    color: $font-light;
    font-weight: bold;
}

.jumbotron__content > h4 {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: $font-light;
}

.jumbotron__content > a {
    margin-top: 1rem;
}

.validation-summary-errors li {
    list-style: none;
}
