@import "colors.scss";

#pricing {
    padding: 70px 200px;
    text-align: center;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    padding: 80px 60px;
    flex: 1 1 50%;
}

#pricing .card {
    text-align: center;
    .card-title {
        font-size: 1.5rem;
        padding: 20px;
        border-bottom: $separator 1px solid;
        color: $brand;
    }
    hr {
        border-color: #ffffff;
    }
}

.cost-currency {
    font-size: 1.2rem;
}

.cost-price {
    font-size: 2.5rem;
}

.cost {
    margin: 50px;
}

.signup {
    margin: 20px;
}

.pricing-footnotes {
    margin: 30px;
}

