@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container my-5">
    <div class="row">
        <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
            <h5 class="card-header">Reset Password</h5>
            <div class="card-body">
                <p>
                    Your password has been reset. You can now <a asp-controller="Account" asp-action="Login">login</a>.
                </p>
            </div>
        </div>
    </div>
</div>
