@page
@model ResendSignUpLinkModel
@{
    ViewData["Title"] = "Resend email";
}
@inject Moneteer.Landing.Helpers.IConfigurationHelper ConfigurationHelper

<div class="container my-5">
    <form method="post" novalidate>
        <div class="row">
            <div class="card shadow-lg rounded col-md-8 col-lg-6 offset-md-2 offset-lg-3 p-0">
                <h5 class="card-header">Resend sign up link</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control form-control-lg" placeholder="Enter your email" autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Resend link</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
