<section id="features">
    <h1>Features</h1>
    <h2>Adopt the <strong>Moneteer Philosophy</strong></h2>
    <p>Put your money in virtual envelopes with a specific job. Spend only from these envelopes. Live free.</p>
    
</section>