<div id="jumbotron">
    <div class="jumbotron__content">
        <h1>Introducing Moneteer</h1>
        <h4>Get ready to budget smarter, regain control, and sleep soundly at night.</h4>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Start my Free 30-Day Trial</a>
    </div>
</div>