<div class="jumbotron">
    <h1 class="header-text-shadow">Introducing Moneteer</h1>
    <p class="lead">Get ready to budget smarter, regain control, and sleep soundly at night.</p>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg">Start my Free 30-Day Trial</a>
</div>