<div id="jumbotron">
    <div class="jumbotron__content">
        <h1>Introducing Moneteer</h1>
        <h4>Get ready to budget smarter, regain control, and sleep soundly at night.</h4>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success">Sign Up for your Free 30 day trial</a>
    </div>
</div>