<section class="py-3 py-md-5" id="pricing">
    <h1 class="header-text-shadow">Pricing</h1>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-md-4 mb-5 mb-md-0">
                <div class="price" >
                    <h3 class="price-header">Monthly</h3>
                    <div class="price-description">
                        <div class="cost mt-3">
                            <span class="cost-symbol">$</span>
                            <span class="cost-value">2.99</span>
                            <span class="cost-duration">/ month</span>

                        </div>
                        <a class="btn btn-primary my-4" href="#">FREE 30 DAY TRIAL</a>
                        <ul>
                            <li>Subscription billed monthly</li>
                            <li>Cancel any time</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <div class="price" >
                    <h3 class="price-header">Yearly</h3>
                    <div class="price-description">
                        <div class="cost mt-3">
                            <span class="cost-symbol">$</span>
                            <span class="cost-value">2.49</span>
                            <span class="cost-duration">/ month</span>

                        </div>
                        <a class="btn btn-primary my-4" href="#">FREE 30 DAY TRIAL</a>
                        <ul>
                            <li>Subscription billed yearly ($29.88 per year)</li>
                            <li>Cancel any time</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>