@page
@model PurchaseSubscriptionModel
@{
    ViewData["Title"] = "Subscription";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"></partial>
<section class="py-3 py-md-5">
    <div class="container-fluid">
        <div id="card-element"></div>
        <button id="card-button" class="btn btn-primary" data-secret="@ViewData["ClientSecret"]">Submit Payment</button>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const stripe = Stripe('pk_test_PB9HLKKLyGkmSISREQMW4WmZ');
        const elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');
    </script>
}
