@page
@model SubscriptionModel
@{
    ViewData["Title"] = "Subscription";
}
@inject Moneteer.Landing.Helpers.IConfigurationHelper Configuration

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage"></partial>
<div class="row mt-4">
    <div class="col-md-6">
        @{
            if (Model.TrialExpiry > DateTimeOffset.Now && Model.SubscriptionExpiry == null)
            {
                <div>
                    Your 30 day trial expires on <strong>@Model.TrialExpiry.LocalDateTime.ToShortDateString()</strong>.
                </div>
                <div class="mt-3">Purchase a subscription to continue using the app once your trial expires.</div>
                <a asp-page="./../PurchaseSubscription" class="mt-3 btn btn-primary">
                    Purchase Subscription
                </a>
            }
            else if (Model.SubscriptionId != null && Model.SubscriptionExpiry != null && Model.SubscriptionExpiry > DateTimeOffset.Now)
            {
                <div>Subscription Status: <strong>@Model.SubscriptionStatus</strong></div>
                <div>Subscription Expiry: <strong>@Model.SubscriptionExpiry.Value.LocalDateTime.ToShortDateString()</strong></div>

                @if (Model.SubscriptionStatus.ToLowerInvariant() != "canceled")
                {
                    <a asp-page="./../CancelSubscription" class="mt-3 btn btn-danger">
                        Cancel Subscription
                    </a>
                }
                else
                {
                    <a asp-page="./../PurchaseSubscription" class="mt-3 btn btn-primary">
                        Purchase New Subscription
                    </a>
                }
            }
            else
            {
                <div>
                    You do not currently have a valid subscription.
                </div>
                <a asp-page="./../PurchaseSubscription" class="mt-3 btn btn-primary">
                    Purchase Subscription
                </a>
            }

            <div id="error-message"></div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
