@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div>
        <h3>Change your account settings</h3>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
