<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12 text-center">
            <h1>Philosophy</h1>
        </div>
        <div class="col-12 text-center text-muted">
            Our personal finance philosophy takes center stage in everything we do.
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2>Freedom</h2>
        </div>
        <div class="col-lg-5 offset-lg-1 d-flex col-12 feature-image p-5">
            <img src="images/freedom.svg" />
        </div>
        
        <div class="col-lg-5 col-12 my-4">
            <blockquote class="lead blockquote text-center"><em>A budget should give you freedom, not feel like a burden.</em></blockquote>
            <p>Your budget is a living thing that can (and should) <em>adapt</em> to your spending.</p>
            <p>You are encouraged to move your money between categories on the fly in response to your spending.</p>
            <p>For example; It’s Friday night and your friends have invited you out to a restaurant. You check your budget and see that you have no money left in your restaurant category. You move some balance from your vacation category to your restaurant category to cover tonight’s meal. Your vacation category can be topped up when you next get paid. No sweat!</p>
        </div>
    </div>

    <div class="row mt-6">
        <div class="col-12 text-center">
            <h2>Security</h2>
        </div>
        <div class="col-lg-5 offset-lg-1 d-flex col-12 feature-image p-5">
            <img src="images/security.svg" />
        </div>
        <div class="col-lg-5 col-12 my-4">
            <p>It is essential to have some money set aside for emergencies.</p>
            <p>Your number one priority should be to build up your emergency fund. This fund covers unexpected expenses, such as car repairs, dentist bills, or funeral costs. </p>
            <p>A long term goal should be 3-6 months expenses in your emergency fund. This covers for big, unexpected life events such as a job loss, and ensures that you can still pay your bills and put food on the table.</p>
        </div>
            
    </div>
    
</div>