$brand-color: #5848BF;
$brand-dark-color: #4E40A5;
$brand-light-color: #7268AF;
$brand-accent-color: #F29F04;

$text-dark-color: #363636;
$text-dark-shadow-color: rgba(#000000, .2);
$text-light-color: #FFFFFF;

$separator-color: #d7d7d7;

$body-color: #FCFCFC;

$box-shadow-color: rgba(#000000, .5);