@import "colors.scss";

.jumbotron {
    background: $brand-color;
    background: linear-gradient(315deg, $brand-light-color, $brand-color);
    text-align: center;
    color: $text-light-color;
    border-radius: 0;
    padding: 6em 2em;
    margin-bottom: 0;
    h1 {
        font-weight: 600;
        letter-spacing: 0.03em;
    }
}
