@using Microsoft.AspNetCore.Identity
@using Moneteer.Identity.Domain.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-outline-success my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Logout">Log out</a>
}
else
{
    <a class="btn btn-outline-secondary my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Login">Login</a>
}