@model Moneteer.Landing.V2.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container my-5">
    <h1 class="text-danger">Oh snap!</h1>
    <h3 class="text-danger">Something unexpected happened and we were unable to process your request.</h3>
    <p>Please try again and contact support if you need further assistance.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
