<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="footer-copyright mr-auto">
                <p>Copyright © 2019 Moneteer - All Rights Reserved</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>